*{
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  background: #ffb347;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  border: 10px solid white;
  padding: 2em;
}
.card {
  box-shadow: 2px 2px 4px #000000;
  padding: 2em;
  max-width: 20em;
}